extends default

block content
    form(action='/create' method='POST' class="create")
        .p1 Title:
        input(type='text' name='title' id=".p1")
        .p1 Description:
        input(type='text' name='description' id=".p1")
        .p1 Author:
        input(type='text' name='author' id=".p1")
        .p1 Status:
        input(type='text' name='status' id=".p1")
        .p1 Text: 
        textarea(name='text' id=".p1")
        .p1 Notes:
        input(type='text' name='notes' id=".p1")
        br
        <input type="submit" value="Submit" class="button"> 
        <input type="reset" class="button">
    .button(type="submit" onclick="window.location.href='/'") Home
    .button(type="submit" onclick="window.location.href='/list'") List all rfcs
