doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/css/style.css')
    body
      .h1= title
      .h4 A Matt Peng Production
      a(href='/' class="button") Home
      a(href='/create' class="button") Create an rfc
      a(href='/list' class="button") List all rfcs
      a(href='/read' class="button") Read an rfc   
      a(href='/respond' class="button") Respond to an rfc
      a(href='/delete' class="button") Delete an rfc
      block content