doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/css/style.css')
    body
      .h1= title
      .h4 A Matt Peng Production
      .button(type="submit" onclick="window.location.href='/'") Home
      .button(type="submit" onclick="window.location.href='/create'") Create a new rfc
      .button(type="submit" onclick="window.location.href='/list'") List all rfcs
      .button(type="submit" onclick="window.location.href='/read'") Read an rfc
      .button(type="submit" onclick="window.location.href='/update'") Update an rfc
      .button(type="submit" onclick="window.location.href='/delete'") Delete an rfc
      block content