extends default

block content
    .p1 This is an error page.
    .p1 You can go back to the home page by clicking on the link above.
    .p1 For support please contact the administrator or submit an issue at 
        a(href="https://github.com/spacebanana123/rfc-site/issues" class='a1') Issues