extends default

block content
    .p1 Welcome to #{title}
    .p1 This is a simple RFC database.
    .p1 You can create, read, update, and delete RFCs.
    .p1 You can also list all RFCs.
    .p1 To get started, click on the links above.