extends default

block content
    .p1 Welcome to #{title}
    .p1 This is a simple RFC (Request For Comments) database.
    .p1 Create, read, respond, and delete RFCs.
    .p1 You can also list all RFCs.
    .p1 To get started, click on the links above.