extends default

block content
    .p1 RFC List
    .p1 !{contents}
    .button(type="submit" onclick="window.location.href='/'") Home
    br
    .button(type="submit" onclick="window.location.href='/create'") Create a new rfc