extends default

block content
    form(action='/respond' method='POST' class="form")
        .p1 Title:
        input(type='text' name='title' id=".p1")
        .p1 Description:
        input(type='text' name='description' id=".p1")
        .p1 Author:
        input(type='text' name='author' id=".p1")
        .p1 Text: 
        textarea(name='text' id=".p1")
        .p1 Notes:
        input(type='text' name='notes' id=".p1")
        br
        <input type='hidden' name="key" value=#{KEY}>
        <input type="submit" value="Submit" class="button"> 
        <input type="reset" class="button">

