.h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: xx-large;
    text-align: center;
    color: #091540;
}

.h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: x-large;
    text-align: center;
    color: #091540;
}

.h3 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    text-align: center;
    color: #091540;
}

.h4 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: small;
    text-align: center;
    color: #091540;
}

.p1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
    color: #091540;
}

.p2 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: x-large;
    color: #091540;
}

.button {
    border: none;
    color: #091540;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #136F63;
    border-radius: 4px;
}

.create {
    border: none;
    cursor: pointer;
    margin: 4px 2px;
    padding: 1.5%;
    border-radius: 4px;
    background-color: #98BBFC;
}

body {
    background-color: #7692FF;
}

input {
    width: 100%;
}

input[type=submit],input[type=reset] {
    width: auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: #ABD2FA;
    border-radius: 4px;
    border: 2px solid #091540;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #091540;
    border-radius: 4px;
    background-color: #ABD2FA;
    resize: none;
}